In [1]:
sname = 'Smith'
len(sname)

5

In [3]:
## List
# lists are used to store multiple items in a single variable. List members are created inside sqaure brackets.

In [4]:
a_list = ["apple", "orange", "mango", "banana"]
len(a_list)

4

In [5]:
type(a_list)

list

In [6]:
a_list.append("peach")
print(a_list)

['apple', 'orange', 'mango', 'banana', 'peach']

In [28]:
mylist = [1,2,3,4,5,6,7,8,9,10]
mylist.append(11)
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [20]:
mylist.pop(-1)

11

In [17]:
mylist.pop(len(mylist)-1)

11

In [29]:
oldlist =mylist.copy()
mylist.remove(2) # removes the number 2 from mylist
print(mylist)
print("this is the original list", oldlist)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11]
this is the original list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [36]:
# my_dict = {'name': 'Sajan', 'age': 19, 'address': 'Washington DC'}
my_dict = {'make': 'toyota', 'model': 'crusier', 'year': 2023}
old_dict = my_dict.copy()
my_dict['address'] = 'DC'
my_dict['color'] = 'black'
my_dict

{'make': 'toyota',
 'model': 'crusier',
 'year': 2023,
 'address': 'DC',
 'color': 'black'}

In [38]:
my_dict.keys()

dict_keys(['make', 'model', 'year', 'address', 'color'])

In [39]:
my_dict.items()

dict_items([('make', 'toyota'), ('model', 'crusier'), ('year', 2023), ('address', 'DC'), ('color', 'black')])

In [42]:
my_dict = {'name': 'Sajan', 'age': 19, 'address': 'Washington DC', 'birth': "nepal", 'lang': 'nepali'}
my_dict['address'] = "America"
my_dict

{'name': 'Sajan',
 'age': 19,
 'address': 'America',
 'birth': 'nepal',
 'lang': 'nepali'}

In [43]:
my_dict["height"] = 5.8
my_dict

{'name': 'Sajan',
 'age': 19,
 'address': 'America',
 'birth': 'nepal',
 'lang': 'nepali',
 'height': 5.8}

In [1]:
my_tup = (1,2)
my_tup[0]

1

In [3]:
my_tup[1]

2

In [4]:
my_tup[0] = 3

TypeError: 'tuple' object does not support item assignment

In [5]:
my_tup[0] == my_tup[1]

False