In [5]:
import pandas as pd
import numpy as np
import random
import string

* # Series is just single column of data.

* # Data frame - Collection of series

In [3]:
data1 = [i for i in range(10)]
print(data1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
alphalist= list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [11]:
index1 = [alphalist[i] for i in range(10)]
print(index1)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

* # building series1

In [15]:
series1 = pd.Series(data = data1, index = index1)
series1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [21]:
my_dict = {k:v for k, v in zip(index1, data1)}    #why index1 first?
print(my_dict)

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'J': 9}

In [23]:
series2 = pd.Series(my_dict)
print(series2)

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

* # building dataframes

In [62]:
df = pd.DataFrame(np.random.randn(5,5), index = "A/B/C/D/E".split('/'), columns = "V/W/X/Y/Z".split('/'))
# print(df)
df

          V         W         X         Y         Z
A  0.803032  0.013850 -1.508971 -0.512813 -0.743850
B  1.115562 -2.697450 -0.496556 -0.603829  0.755632
C  1.044141  0.548692  1.423858 -1.404204 -1.546547
D  1.315077  0.289568  0.014797 -1.507529 -0.137165
E -0.208176  0.308958 -0.433610 -0.352056  1.169677

In [60]:
# grabbing a first column
df['V']

#grabbing first and second column extra [] sign
df[['V', 'X']]

          V         X
A -1.780726  1.753787
B -1.752638 -0.128436
C -1.967015 -0.740976
D -0.347050 -0.672172
E  0.039154  0.039357

In [48]:
#grabbing specific row and column

df[['W', 'Y']]

          W         Y
A  2.286710  1.286834
B  0.036798 -0.043054
C -0.941691  2.367526
D -0.903958  0.179938
E -2.238256 -0.069874

* # loc for particular row

* # iloc for intergers columns

In [64]:
df.iloc[0]   #through the index of the row (A)
df.iloc[1]   #through the index of the row (B)

V    1.115562
W   -2.697450
X   -0.496556
Y   -0.603829
Z    0.755632
Name: B, dtype: float64

In [65]:
df.loc['A'] #through the row name

V    0.803032
W    0.013850
X   -1.508971
Y   -0.512813
Z   -0.743850
Name: A, dtype: float64

In [63]:
df.loc['B']['V']   #locate [row][column]
df.iloc[1][0]      #index location[1][0] is the index for B row and Column V

1.1155618775215022

In [66]:
df['W'] > 0    #this gives the true of false of the column W

A     True
B    False
C     True
D     True
E     True
Name: W, dtype: bool

In [67]:
df[df['W']>0]    #this gets us the data frame satisfying the statement (Just checks the column W and              
                 #returns all the other rows as well)
                 #B row return garena cuz tyo smaller than 0 thiyo

          V         W         X         Y         Z
A  0.803032  0.013850 -1.508971 -0.512813 -0.743850
C  1.044141  0.548692  1.423858 -1.404204 -1.546547
D  1.315077  0.289568  0.014797 -1.507529 -0.137165
E -0.208176  0.308958 -0.433610 -0.352056  1.169677

In [80]:
df['U'] = df['V'] + df['W']
df

          V         W         X         Y         Z         U
A  0.803032  0.013850 -1.508971 -0.512813 -0.743850  0.816882
B  1.115562 -2.697450 -0.496556 -0.603829  0.755632 -1.581888
C  1.044141  0.548692  1.423858 -1.404204 -1.546547  1.592833
D  1.315077  0.289568  0.014797 -1.507529 -0.137165  1.604645
E -0.208176  0.308958 -0.433610 -0.352056  1.169677  0.100782

In [84]:
df['U'] = df
df

          V         W         X         Y         Z         U
A  0.803032  0.013850 -1.508971 -0.512813 -0.743850  0.803032
B  1.115562 -2.697450 -0.496556 -0.603829  0.755632  1.115562
C  1.044141  0.548692  1.423858 -1.404204 -1.546547  1.044141
D  1.315077  0.289568  0.014797 -1.507529 -0.137165  1.315077
E -0.208176  0.308958 -0.433610 -0.352056  1.169677 -0.208176